<section class="contact-form">
    <h2 class="contact-form__title">
        Diligencia los campos y contactanos
    </h2>

    <form class="contact-form__form">
        <div class="contact-form__row">
            <label for="" class="contact-form__label">
                Nombre
                <input type="text" class="contact-form__input"placeholder = "ingrese su nombre" required>
            </label>
            <label for="" class="contact-form__label">
                Telefono
             <input type="tel" class="contact-form__input"placeholder = "ingrese su numero de telefono" required>
             </label>
        </div>
         <label for="" class="contact-form__label">
                Correo
                <input type="tel" class="contact-form__input"placeholder = "ingrese su correo electronico" required>
                </label>
             <label for="" class="contact-form__label">
                Message        
             <textarea name="" id="" class="contact-form__text-area" placeholder="Ingresa tu mensage aqui.." required></textarea>
              </label>
           
              <div class="contact-form__actions">

                  <button type="submit" class="contact-form__button">Cancelar</button>
                  <button type="submit" class="contact-form__button contact-form__button--sm">Enviar</button>
              
              </div>
    </form>
</section>